@charset "utf-8";
.container-fluid .col-sm-5 {
	padding-top: 30px;
}


footer {
	margin-top: 7%;

}
.container-fluid .logone {


}
.container-fluid .row form textarea {
}
.row .col-sm-9 .campi {
	margin-top: 20px;
}
